pyyaml>=5.1
tensorboard
pycocotools
pyclipper
Polygon3
colorlog
ocrd-fork-pylsd==0.0.3 
einops==0.2.0
prefetch_generator==1.0.1
imgaug==0.4.0
lmdb==1.0.0
transformers==4.6.1
torchnet
gdown==3.13.0
webcolors
pandas_profiling
torchvision==0.10
